.searchBoxArea{
    
    border: 2px;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.topTitle{
    color: red;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1 {
    margin: 0px;
}


/*****************Seat Booking******************/
.tour-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.material-symbols-outlined{
    display: flex;
    justify-content: center;
}

#tour-main-container {
    margin-bottom: 100px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.tour-container{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    opacity: 0.9;
    background-color: #EDEDED;
}

.tour-detail-container {
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tour-details{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    row-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tour-details .tour-hr{
    display: grid;
}

.tour-details .tour-hr hr{
    border-radius: 1px;
    width: 60%;
    justify-self: center;
    border: 2px solid black;
}

.tour-details .tour-place{
    height: 30px;
    line-height: 30px;
    background: var(--main-gradient);
    border-radius: 15px;
    color: #fff;
    width: 100px;
    justify-self: center;
}

.tour-seat-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.tour-submit{
    background: var(--main-gradient) !important;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    padding: 2px;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.tour-btn-container{
    display: flex;
    justify-content: center;
}

.tour-btn-sm{
    background-color: black;
    padding: 2px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
    border-radius: 50px;
}