.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dev Defined */
:root{
  --main-gradient: linear-gradient(120deg, #8C54FB 0%, #CE4F51 100%);
  --theme-color-1: #8C54FB;
  --theme-color-2: #CE4F51;
}

a{
  color: var(--theme-color-1);
}

.topBar{
  background-color: #61dafb;
  width: 100%;
  height: 90px;
}

.bGradient{
  background: var(--main-gradient);
  background-size: 100% 100%;
  color: #fff;
}

.title{
  line-height: 50px;
  background: transparent;
  font-weight: bold;
  color: #fff;
}



.align-left{
  margin-left: 20px;
  float: left;
}

.verifLogo{
  margin-top:5vh;
}

.oneCharTextBox{
  border: 1px solid #636363;
  border-radius: 6px;
  margin-left: 1vw;
  margin-right: 1vh;
  width: 10vw;
  height: 10vh;
  font-size: 24px;
  text-align: center;
}

.oneCharTextBox:hover{
  outline: none;
  border: double 1px transparent;
  background-image: linear-gradient(white, white), var(--main-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;  
}

.oneCharTextBox:focus{
  outline: none;
  border: double 2px transparent;
  width: calc(10vw - 2px);
  height: calc(10vh - 2px);
  background-image: linear-gradient(white, white), var(--main-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;  
}

.verifTextArea{
  margin-top:5vh;
}

.verifButton{
  margin-top:5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 58vw;
  height: 8vh;
  border-radius: 6px;
  background-color: var(--theme-color-2);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border: none;
}

.verifButton:hover{
  border: double 2px transparent;
  /*box-shadow: #8C54FB88 0px 0px 5px 3px;*/
  border-radius: 6px;
  background-image: linear-gradient(var(--theme-color-2), var(--theme-color-2)), var(--main-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;  
}

